.rightTitle {
    border-bottom: 1px solid #DEDBDC;
    padding-bottom: 7px;
}
.mainRightContainer {
    max-width: 940px;
}
.filter {
    display: flex;
    justify-content: flex-end;
}
.filterInner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 1px solid #DEDBDC;
    padding: 6px 12px;
    width: 256px;
    margin-top: 23px;
    margin-bottom: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
}
.cardDown {
    display: flex;
    gap: 12px;
    margin-top: 18px;
}
.cardDownImg {
    width: 48px;
    height: 48px;
}
.cardDownTitle {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #1A1718;
    margin-bottom: 1px;
}
.cardDownText {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #797476;
    margin-bottom: 5px;
}
.cardDownTime {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #636262;
}
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px 20px;
}
.button {
    padding: 8px 29px;
    border: 1px solid #1A1718;
    max-width: 153px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 44px;
    margin-bottom: 22px;
}
