.rightTitle {
    border-bottom: 1px solid #DEDBDC;
    padding-bottom: 7px;
}
.mainRightContainer {
    max-width: 940px;
    /*margin: 0 auto;*/
}
.filter {
    display: flex;
    justify-content: flex-end;
    margin-top: 23px;
    margin-bottom: 24px;
    gap: 12px;
}
.filterInner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 1px solid #DEDBDC;
    padding: 6px 12px;
    width: 256px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
}
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px 20px;
}

/*------------------------------------------------------------blog-----------------------------------------*/
.blog {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    border-bottom: 1px solid #DEDBDC;
    padding-bottom: 11px;
    max-width: 940px;
    margin-bottom: 12px;
}
.blogRight {

}
.blogTitle {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #1A1718;
    margin-bottom: 2px;
}
.Link {
    text-decoration: none;
}
.blogWebsite {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #737067;
    margin-bottom: 24px;
}
.blogLink {
    color: dodgerblue;
}
.blogText {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #1A1718;
}
.inputText {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #B3B0B1;
    background: transparent;
    outline: none;
    border: 1px solid #DEDBDC;
    padding: 6px 48px;
    width: 574px;
    transition: all .2s linear;
}
.inputText::placeholder {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #B3B0B1;
}
.inputText:focus {
    border: 1px solid #F8346B;
}
.input {
    position: relative;
}
.inputIcon {
    position: absolute;
    top: 25%;
    left: 1.6%;
}
