


.mainImage {
    margin-left: -24px;
    margin-bottom: 28px;
}
.image {
    max-width: 1028px;
    height: 312px;
    margin-top: 12px;
}
.imageBottom {
    display: flex;
    align-items: flex-start;
    gap: 18px;
    padding-bottom: 23px;
    border-bottom: 1px solid #DEDBDC;
    max-width: 940px;
}
.imageTitle {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
    color: #1A1718;
    margin-bottom: 32px;
}
.imageDate {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #797476;
    margin-bottom: 3px;
}
.imageLink {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #737067;
}
.imageLinkA {
    text-decoration: none;
    color: dodgerblue;
    margin-bottom: 12px;
}
.imageText {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #1A1718;
    margin-bottom: 5px;
    max-width: 780px;
}
.imageBtn {
    background: transparent;
    outline: none;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #797476;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    margin: 0 auto;
}
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 920px;
    gap: 20px;
    margin-top: 48px;
}
.cardsContainer {
    max-width: 940px;
    margin-bottom: 69px;
}
